[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
motor = "*"
uvicorn = {extras = ["standard"], version = "*"}
speechrecognition = "*"
pipwin = "*"
jinja2 = "*"
aiofiles = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.9"
