#intro{
  padding: 40px 0;
}

#verse-of-the-day{
  padding: 50px 0;
}

.Typewriter{
  display: inline;
  padding-left: 9px;
}

.audio-react-recorder{
  display: inline;
}

.dailyVerses.bibleVerse a {
  text-decoration: none;
  padding-top: 5px;
  /* font-size: 18px; */
}
